In [1]:
import os
import json
import pandas as pd
import psycopg2

In [2]:
#aggre_transcation

path1="C:/Users/kumar/OneDrive/Desktop/phone_pe/pulse/data/aggregated/transaction/country/india/state/"
aggre_trans_list=os.listdir(path1)

columns1={"states":[],"years":[],"Quarter":[],"Transcation_type":[],"Transcation_count":[],"Transcation_amount":[] }

for state in aggre_trans_list:
    cur_states=path1+state+"/"
    aggre_year_list=os.listdir(cur_states)

    for year in aggre_year_list:
        cur_year=cur_states+year+"/" 
        aggre_file_list=os.listdir(cur_year)
        
        for file in aggre_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            A=json.load(data)

            for i in A["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns1["Transcation_type"].append(name)
                columns1["Transcation_count"].append(count)
                columns1["Transcation_amount"].append(amount)
                columns1["states"].append(state)
                columns1["years"].append(year)
                columns1["Quarter"].append(int(file.strip(".json")))
                
aggre_transcation=pd.DataFrame(columns1)

aggre_transcation["states"]=aggre_transcation["states"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggre_transcation["states"]=aggre_transcation["states"].str.replace('-',' ')
aggre_transcation["states"]=aggre_transcation["states"].str.title()
aggre_transcation["states"]=aggre_transcation["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [3]:
aggre_transcation["states"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [4]:
#user
path2="C:/Users/kumar/OneDrive/Desktop/phone_pe/pulse/data/aggregated/user/country/india/state/"
aggre_user=os.listdir(path2)

columns2={"states":[],"years":[],"Quarter":[],"Brands":[],"Transcation_count":[],"percentage":[] }


for state in aggre_trans_list:
    cur_states=path2+state+"/"
    aggre_year_list=os.listdir(cur_states)

    for year in aggre_year_list:
        cur_year=cur_states+year+"/" 
        aggre_file_list=os.listdir(cur_year)

        for file in aggre_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            B=json.load(data)

            try:
               for i in B["data"]["usersByDevice"]:
                brand=i["brand"]
                count=i["count"]
                percentage=i["percentage"]
                columns2["Brands"].append(brand)
                columns2["Transcation_count"].append(count)
                columns2["percentage"].append(percentage)
                columns2["states"].append(state)
                columns2["years"].append(year)
                columns2["Quarter"].append(int(file.strip(".json")))
            except:
               pass

aggre_user=pd.DataFrame(columns2)
aggre_user["states"]=aggre_user["states"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggre_user["states"]=aggre_user["states"].str.replace('-',' ')
aggre_user["states"]=aggre_user["states"].str.title()
aggre_user["states"]=aggre_user["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [5]:
aggre_user["states"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [6]:
#maps trans

path3="C:/Users/kumar/OneDrive/Desktop/phone_pe/pulse/data/map/transaction/hover/country/india/state/"
map_trans=os.listdir(path3)

columns3={"states":[],"years":[],"Quarter":[],"Districts":[],"Transcation_count":[],"Transcation_amount":[] }


for state in map_trans:
    cur_states=path3+state+"/"
    aggre_year_list=os.listdir(cur_states)

    for year in aggre_year_list:
        cur_year=cur_states+year+"/" 
        aggre_file_list=os.listdir(cur_year)

        for file in aggre_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            C=json.load(data)
            

        for i in C["data"]["hoverDataList"]:
                name=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                columns3["Districts"].append(name)
                columns3["Transcation_count"].append(count)
                columns3["Transcation_amount"].append(amount)
                columns3["states"].append(state)
                columns3["years"].append(year)
                columns3["Quarter"].append(int(file.strip(".json"))) 
map_trans=pd.DataFrame(columns3)
map_trans["states"]=map_trans["states"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_trans["states"]=map_trans["states"].str.replace('-',' ')
map_trans["states"]=map_trans["states"].str.title()
map_trans["states"]=map_trans["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [7]:
map_trans["states"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [8]:
# map user

path4="C:/Users/kumar/OneDrive/Desktop/phone_pe/pulse/data/map/user/hover/country/india/state/"
map_user=os.listdir(path4)

columns4={"states":[],"years":[],"Quarter":[],"Districts":[],"RegisteredUsers":[],"AppOpens":[] }


for state in map_user:
    cur_states=path4+state+"/"
    aggre_year_list=os.listdir(cur_states)

    for year in aggre_year_list:
        cur_year=cur_states+year+"/" 
        aggre_file_list=os.listdir(cur_year)

        for file in aggre_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            D=json.load(data)

        for i in D["data"]["hoverData"].items():
                district=i[0]
                registeredUsers=i[1]["registeredUsers"]
                appOpens=i[1]["appOpens"]
                columns4["Districts"].append(district)
                columns4["RegisteredUsers"].append(count)
                columns4["AppOpens"].append(appOpens)
                columns4["states"].append(state)
                columns4["years"].append(year)
                columns4["Quarter"].append(int(file.strip(".json"))) 
            
map_user=pd.DataFrame(columns4)
map_user["states"]=map_user["states"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_user["states"]=map_user["states"].str.replace('-',' ')
map_user["states"]=map_user["states"].str.title()
map_user["states"]=map_user["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [9]:
map_user["states"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [10]:
#aggre_insurance

path5="C:/Users/kumar/OneDrive/Desktop/phone_pe/pulse/data/aggregated/insurance/country/india/state/"
aggre_insu=os.listdir(path5)

columns5={"states":[],"years":[],"Quarter":[],"Transcation_type":[],"Transcation_count":[],"Transcation_amount":[] }

for state in aggre_insu:
    cur_states=path5+state+"/"
    aggre_year_list=os.listdir(cur_states)

    for year in aggre_year_list:
        cur_year=cur_states+year+"/" 
        aggre_file_list=os.listdir(cur_year)
        
        for file in aggre_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            E=json.load(data)

            for i in E["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns5["Transcation_type"].append(name)
                columns5["Transcation_count"].append(count)
                columns5["Transcation_amount"].append(amount)
                columns5["states"].append(state)
                columns5["years"].append(year)
                columns5["Quarter"].append(int(file.strip(".json")))
                
aggre_insu=pd.DataFrame(columns5)

aggre_insu["states"]=aggre_insu["states"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggre_insu["states"]=aggre_insu["states"].str.replace('-',' ')
aggre_insu["states"]=aggre_insu["states"].str.title()
aggre_insu["states"]=aggre_insu["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [11]:
aggre_insu

,states,years,Quarter,Transcation_type,Transcation_count,Transcation_amount
0,Andaman & Nicobar,2020,2,Insurance,6,1360.0
1,Andaman & Nicobar,2020,3,Insurance,41,15380.0
2,Andaman & Nicobar,2020,4,Insurance,124,157975.0
3,Andaman & Nicobar,2021,1,Insurance,225,244266.0
4,Andaman & Nicobar,2021,2,Insurance,137,181504.0
...,...,...,...,...,...,...
533,West Bengal,2022,4,Insurance,54277,70466433.0
534,West Bengal,2023,1,Insurance,56833,77461732.0
535,West Bengal,2023,2,Insurance,49792,65204280.0
536,West Bengal,2023,3,Insurance,58131,76359312.0
537,West Bengal,2023,4,Insurance,72712,100365562.0

In [12]:
aggre_insu["states"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [13]:
#map insurance
path6="C:/Users/kumar/OneDrive/Desktop/phone_pe/pulse/data/map/insurance/hover/country/india/state/"
map_insu_list=os.listdir(path6)


columns6={"states":[],"years":[],"Quarter":[],"Districts":[],"Transcation_count":[],"Transcation_amount":[] }


for state in map_insu_list:
    cur_states=path6+state+"/"
    aggre_year_list=os.listdir(cur_states)

    for year in aggre_year_list:
        cur_year=cur_states+year+"/" 
        aggre_file_list=os.listdir(cur_year)

        for file in aggre_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            F=json.load(data)
            

        for i in F["data"]["hoverDataList"]:
                name=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                columns6["Districts"].append(name)
                columns6["Transcation_count"].append(count)
                columns6["Transcation_amount"].append(amount)
                columns6["states"].append(state)
                columns6["years"].append(year)
                columns6["Quarter"].append(int(file.strip(".json"))) 
map_insu=pd.DataFrame(columns6)
map_insu["states"]=map_insu["states"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_insu["states"]=map_insu["states"].str.replace('-',' ')
map_insu["states"]=map_insu["states"].str.title()
map_insu["states"]=map_insu["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [14]:
map_insu["states"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [15]:
#top insurance
path7="C:/Users/kumar/OneDrive/Desktop/phone_pe/pulse/data/top/insurance/country/india/state/"
top_insu_list=os.listdir(path7)

columns7={"states":[],"years":[],"Quarter":[],"Pincodes":[],"Transcation_count":[],"Transcation_amount":[] }


for state in top_insu_list:
    cur_states=path7+state+"/"
    aggre_year_list=os.listdir(cur_states)

    for year in aggre_year_list:
        cur_year=cur_states+year+"/" 
        aggre_file_list=os.listdir(cur_year)

        for file in aggre_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            G=json.load(data)


        for i in G["data"]["pincodes"]:
            entityname=i["entityName"]
            count=i["metric"]["count"]
            amount=i["metric"]["amount"]
            columns7["Pincodes"].append(entityname)
            columns7["Transcation_count"].append(count)
            columns7["Transcation_amount"].append(amount)
            columns7["states"].append(state)
            columns7["years"].append(year)
            columns7["Quarter"].append(int(file.strip(".json"))) 

top_insurance=pd.DataFrame(columns7)
top_insurance["states"]=top_insurance["states"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_insurance["states"]=top_insurance["states"].str.replace('-',' ')
top_insurance["states"]=top_insurance["states"].str.title()
top_insurance["states"]=top_insurance["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [16]:
top_insurance["states"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [17]:
#top transcation
path8="C:/Users/kumar/OneDrive/Desktop/phone_pe/pulse/data/top/transaction/country/india/state/"
top_trans_list=os.listdir(path8)

columns8={"states":[],"years":[],"Quarter":[],"Pincodes":[],"Transcation_count":[],"Transcation_amount":[] }


for state in top_trans_list:
    cur_states=path8+state+"/"
    aggre_year_list=os.listdir(cur_states)

    for year in aggre_year_list:
        cur_year=cur_states+year+"/" 
        aggre_file_list=os.listdir(cur_year)

        for file in aggre_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            H=json.load(data)


        for i in H["data"]["pincodes"]:
            entityname=i["entityName"]
            count=i["metric"]["count"]
            amount=i["metric"]["amount"]
            columns8["Pincodes"].append(entityname)
            columns8["Transcation_count"].append(count)
            columns8["Transcation_amount"].append(amount)
            columns8["states"].append(state)
            columns8["years"].append(year)
            columns8["Quarter"].append(int(file.strip(".json"))) 

top_transcation=pd.DataFrame(columns8)
top_transcation["states"]=top_transcation["states"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_transcation["states"]=top_transcation["states"].str.replace('-',' ')
top_transcation["states"]=top_transcation["states"].str.title()
top_transcation["states"]=top_transcation["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [18]:
top_transcation["states"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [19]:
#top user
path9="C:/Users/kumar/OneDrive/Desktop/phone_pe/pulse/data/top/user/country/india/state/"
top_user_list=os.listdir(path9)

columns9={"states":[],"years":[],"Quarter":[],"Pincodes":[],"RegisteredUsers":[] }


for state in top_user_list:
    cur_states=path9+state+"/"
    aggre_year_list=os.listdir(cur_states)

    for year in aggre_year_list:
        cur_year=cur_states+year+"/" 
        aggre_file_list=os.listdir(cur_year)

        for file in aggre_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")
            I=json.load(data)


        for i in I["data"]["pincodes"]:
            entityname=i["name"]
            registeredusers=i["registeredUsers"]
            
            columns9["Pincodes"].append(entityname)
            columns9["RegisteredUsers"].append(registeredusers)
            
            columns9["states"].append(state)
            columns9["years"].append(year)
            columns9["Quarter"].append(int(file.strip(".json"))) 

top_user=pd.DataFrame(columns9)
top_user["states"]=top_user["states"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_user["states"]=top_user["states"].str.replace('-',' ')
top_user["states"]=top_user["states"].str.title()
top_user["states"]=top_user["states"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [20]:
top_user["states"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [21]:
#table creation
#sql
mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="saran",
                        database="phonepe_data",
                        port="5432")
cursor=mydb.cursor()
#aggregated insurance table
create_query_1='''CREATE TABLE if not exists aggregated_insurance(states varchar(255),
                                                   years int,
                                                   Quarter int,
                                                   Transcation_type varchar(255),
                                                   Transcation_count bigint,
                                                   Transcation_amount bigint)'''
cursor.execute(create_query_1)
mydb.commit()

insert_query_1='''INSERT INTO aggregated_insurance(states,years,Quarter,Transcation_type,
                                                    Transcation_count,
                                                    Transcation_amount)
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=aggre_insu.values.tolist()
cursor.executemany(insert_query_1,data)
mydb.commit()

In [22]:
#aggre transcation
#sql
mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="saran",
                        database="phonepe_data",
                        port="5432")
cursor=mydb.cursor()

#aggregated transcation table
create_query_2='''CREATE TABLE if not exists aggregated_transcation(states varchar(255),
                                                   years int,
                                                   Quarter int,
                                                   Transcation_type varchar(255),
                                                   Transcation_count bigint,
                                                   Transcation_amount bigint)'''
cursor.execute(create_query_2)
mydb.commit()

insert_query_2='''INSERT INTO aggregated_transcation(states,years,Quarter,Transcation_type,
                                                    Transcation_count,
                                                    Transcation_amount)
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=aggre_transcation.values.tolist()
cursor.executemany(insert_query_2,data)
mydb.commit()

In [23]:
#aggre user
#sql
mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="saran",
                        database="phonepe_data",
                        port="5432")
cursor=mydb.cursor()

#aggregated user table
create_query_3='''CREATE TABLE if not exists aggregated_user(states varchar(255),
                                                   years int,
                                                   Quarter int,
                                                   Brands varchar(255),
                                                   Transcation_count bigint,
                                                   Percentage float)'''
cursor.execute(create_query_3)
mydb.commit()

insert_query_3='''INSERT INTO aggregated_user(states,years,Quarter,Brands,
                                                    Transcation_count,
                                                    Percentage)
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=aggre_user.values.tolist()
cursor.executemany(insert_query_3,data)
mydb.commit()

In [ ]:
#map insurance
#sql
mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="saran",
                        database="phonepe_data",
                        port="5432")
cursor=mydb.cursor()

#map insurance table
create_query_4='''CREATE TABLE if not exists map_insurance(states varchar(255),
                                                   years int,
                                                   Quarter int,
                                                   Districts varchar(255),
                                                   Transcation_count bigint,
                                                   Transcation_amount bigint)'''
cursor.execute(create_query_4)
mydb.commit()

insert_query_4='''INSERT INTO map_insurance(states,years,Quarter,Districts,
                                                    Transcation_count,
                                                    Transcation_amount)
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=map_insu.values.tolist()
cursor.executemany(insert_query_4,data)
mydb.commit()

In [ ]:
#map transcation
#sql
mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="saran",
                        database="phonepe_data",
                        port="5432")
cursor=mydb.cursor()

#map_transcation table
create_query_5='''CREATE TABLE if not exists map_transcation(states varchar(255),
                                                   years int,
                                                   Quarter int,
                                                   District varchar(255),
                                                   Transcation_count bigint,
                                                   Transcation_amount bigint)'''
cursor.execute(create_query_5)
mydb.commit()

insert_query_5='''INSERT INTO map_transcation(states,years,Quarter,District,
                                                    Transcation_count,
                                                    Transcation_amount )
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=map_trans.values.tolist()
cursor.executemany(insert_query_5,data)
mydb.commit()

In [ ]:
#map user
#sql
mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="saran",
                        database="phonepe_data",
                        port="5432")
cursor=mydb.cursor()

#map_transcation table
create_query_6='''CREATE TABLE if not exists map_user(states varchar(255),
                                                   years int,
                                                   Quarter int,
                                                   Districts varchar(255),
                                                   RegisteredUsers bigint,
                                                   AppOpens bigint)'''
cursor.execute(create_query_6)
mydb.commit()

insert_query_6='''INSERT INTO map_user(states,years,Quarter,Districts,
                                                    RegisteredUsers,
                                                    AppOpens )
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=map_user.values.tolist()
cursor.executemany(insert_query_6,data)
mydb.commit()

In [ ]:
#top_insurance
#sql
mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="saran",
                        database="phonepe_data",
                        port="5432")
cursor=mydb.cursor()

#map_transcation table
create_query_7='''CREATE TABLE if not exists top_insurance(states varchar(255),
                                                   years int,
                                                   Quarter int,
                                                   Pincodes int,
                                                   Transcation_count bigint,
                                                   Transcation_amount bigint)'''
cursor.execute(create_query_7)
mydb.commit()

insert_query_7='''INSERT INTO top_insurance(states,years,Quarter,Pincodes,
                                                    Transcation_count,
                                                    Transcation_amount )
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=top_insurance.values.tolist()
cursor.executemany(insert_query_7,data)
mydb.commit()

In [ ]:
#top_transcation
#sql
mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="saran",
                        database="phonepe_data",
                        port="5432")
cursor=mydb.cursor()

#top transcation
create_query_8='''CREATE TABLE if not exists top_transcation(states varchar(255),
                                                   years int,
                                                   Quarter int,
                                                   Pincodes int,
                                                   Transcation_count bigint,
                                                   Transcation_amount bigint)'''
cursor.execute(create_query_8)
mydb.commit()

insert_query_8='''INSERT INTO top_transcation(states,years,Quarter,Pincodes,
                                                    Transcation_count,
                                                    Transcation_amount )
                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''

data=top_transcation.values.tolist()
cursor.executemany(insert_query_8,data)
mydb.commit()

In [ ]:
#top_user
#sql
mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="saran",
                        database="phonepe_data",
                        port="5432")
cursor=mydb.cursor()

#top transcation
create_query_9='''CREATE TABLE if not exists top_user(states varchar(255),
                                                   years int,
                                                   Quarter int,
                                                   Pincodes int,
                                                   RegisteredUsers bigint
                                                   )'''
cursor.execute(create_query_9)
mydb.commit()

insert_query_9='''INSERT INTO top_user(states,years,Quarter,Pincodes,
                                                    RegisteredUsers
                                                     )
                                                    
                                                    values(%s,%s,%s,%s,%s)'''

data=top_user.values.tolist()
cursor.executemany(insert_query_9,data)
mydb.commit()